@Scripts.Render("~/Scripts/eAzolution/Sales/SalesRepresentator/SalesRepresentatorSummary.js")

<div class="leftDiv k-block">

      <h2 class="k-header centerAlign">Sale Representative Summary</h2>
   
        <div id="gridSalesRepSummary"></div>
        <div class="clear"></div>
 
</div>
