@{
    ViewBag.Title = "Sales Representative Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/eAzolution/Sales/SalesRepresentator/SalesRepresentatorSettings.js")



<div class="mainDiv">
    <h1 class="k-header centerAlign">Sale Representative Settings</h1>
    <div class="">
           @Html.Partial("_SalesRepresentatorSummary")
    </div>
    <div class="">
         @Html.Partial("_SalesRepresentatorDetails")
    </div>
  
   
<div class="clear"></div>
</div>
