@Scripts.Render("~/Scripts/eAzolution/Sales/Product/LicenseHistory.js")
<div class="leftDiv">
    <fieldset class="k-content">
    <legend class="k-fontSize[15]">
        License History 
    </legend> 
    <div id="gridLicense"></div>
        </fieldset>
    <div class="clear"></div>
</div>