@Scripts.Render("~/Scripts/eAzolution/Sales/Product/ProductSummary.js")

<div class="k-block">
    <h2 class="k-header centerAlign">Package Summary</h2>
    <b>Search:&nbsp;</b><input type="text" class="k-combobox" id="cmbPackageType"/>
    <div id="gridProduct"></div>
</div>
<div class="clear"></div>
