<script src="~/Scripts/eAzolution/Sales/Teachers/TeacherSummary.js"></script>


<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Teachers Summary</legend>

        <div id="TeacherSummaryDiv" class="divSummary">



        </div>
    </fieldset>


</div>
