@model dynamic
@using System.Web.Mvc.Html

<script src="~/Scripts/eAzolution/NEmployees/NEmployeeEducation.js"></script>

<div class="k-block">
    <h2 class="k-header centerAlign">Employee Education</h2>
    <span>
        <label class="lbl widthSize100_per" style="color:green; background: aliceblue;">
            Please Add Employee Education Records &nbsp;&nbsp;
            <button type="button" id="btnAddEducation" class="k-button"><span class="k-icon k-i-plus"></span></button>
        </label>
    </span>
    <br />
    <div id="gridEmployeeEducation"></div>
</div>
<div class="clear"></div>