<script src="~/Scripts/eAzolution/NEmployee/NEmployeesSummary.js"></script>

<div class="leftDiv" style="text-align:center;">
    <fieldset class="k-content">
        <legend class="k-fontSize[12]">Employee Summary</legend>
        <div id="employeeSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>