@model dynamic
@using System.Web.Mvc.Html

<script src="~/Scripts/eAzolution/NEmployees/NEmployeesSettings.js"></script>
<script src="~/Scripts/eAzolution/NEmployees/NEmployeesDetails.js"></script>
<script src="~/Scripts/eAzolution/NEmployees/NEmployeesSummary.js"></script>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="maindiv">
    <h2 class="k-header centerAlign">EMPLOYEE INFO</h2>
    <button id="btnPrint" class="k-button" type="submit">Print Employee Report</button>
    <div class="leftDiv" style="text-align: center;">
        @Html.Partial("~/Views/NEmployee/_NEmployeesSummary.cshtml")
    </div>
    <div class="rightDiv">
        @Html.Partial("~/Views/NEmployee/_NEmployeesDetails.cshtml")
    </div>
</div>