@Scripts.Render("~/Scripts/eAzolution/Sales/CommissionSettings/CommissionSettingsSummary.js")


<div class="leftDiv k-block">
    <h2 class="k-header centerAlign">Commission Settings Summary</h2>
    <div id="commissionSummaryGrid"></div>
</div>