<script src="~/Scripts/eAzolution/Sales/Doctors/DoctorSummary.js"></script>


<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Doctors Summary</legend>

        <div id="DoctorSummaryDiv" class="divSummary">



        </div>
    </fieldset>


</div>

