@*@Scripts.Render("~/Scripts/eAzolution/Sales/Product/ProductItems.js")*@

<div class="k-block">
    <h2 class="k-header centerAlign">Stock Product Items</h2>
    <div id="gridStockProductItems"></div>
</div>
<div class="clear"></div>
