<script src="~/Scripts/eAzolution/Sales/Products/ProductsSummery.js"></script>
    <div class="leftDiv">
        <fieldset class="k-content">

            <legend class="k-fontSize[15]"> Products Summary</legend>

            <div id="ProductsSummaryDiv" class="divSummary">



            </div>
        </fieldset>


    </div>

