@Scripts.Render("~/Scripts/eAzolution/Sales/IncentiveSettings/IncentiveSettingsSummary.js")


<div class="k-block">
    <h2 class="k-header centerAlign">Incentive Summary</h2>
    <div id="incentiveSummaryGrid"></div>
</div>