<script src="~/Scripts/eAzolution/Sales/Student/StudentSummary.js"></script>


<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Students Summary</legend>

        <div id="StudentSummaryDiv" class="divSummary">



        </div>
    </fieldset>
    

</div>