@Scripts.Render("~/Scripts/eAzolution/Sales/DefaultSettings/DefaultSettingsSummary.js")

<div id="" class="k-block">
@*<fieldset style="border: 1px solid skyblue; border-radius: 3px">*@
    <h2 class="k-header centerAlign">Default Settings Summary</h2>
    <div id="gridInterest"></div>
@*</fieldset>*@
<div class="clear"></div>
</div>