@Scripts.Render("~/Scripts/eAzolution/Core/Module/ModuleSummary.js")

<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Module Summary
        </legend>
   
        <div id="gridModule"></div>

   </fieldset>
    <div class="clear"></div>
</div>