@Scripts.Render("~/Scripts/eAzolution/Core/Menu/MenuSorting.js")
<div class="leftDiv">
    <div id="gridMenuSorting"></div>
    <div class="clear"></div>
    
    <div class="divDetails">
        <ul>
            <li>
                <button id="btnSaveSortOrder" class="k-button" type="submit">Update Sort Order</button>
            </li>
        </ul>
    </div>

</div>