@Scripts.Render("~/Scripts/eAzolution/Sales/Replacement/ReplacementProductItemInfo.js")

<div class="k-block">
    <h2 class="k-header centerAlign">Package Items Information</h2>
    <div id="gridProductItemsInfo"></div>
</div>
<div class="clear"></div>

<div id="ItemSerialNoPopupwindow" class="displayNone">
    <div class="divDetails">
        <ul id="ulSerialNo">
        </ul>
        <ul>
            <li class="centerAlign">
                <input type="hidden" name="ItemId" id="hdnItemId"/>
                <button type="button" id="btnSaveSLNo" class="k-button" onclick="ReplacementProductItemInfoHelper.ClickEventForOkButton()">Ok</button>
            </li>
                    
        </ul>
    </div>
    </div>