@Scripts.Render("~/Scripts/eAzolution/Sales/Customer/SalesInformation.js")

@*  Sales Details For customer grid*@


<div class="k-block">
        <h2 class="k-header centerAlign">Sales Information</h2>

        <div id="gridSalesDetails"></div>
    </div>
    <div class="clear"></div>