
<script src="~/Scripts/eAzolution/Sales/Person/PersonSummary.js"></script>

<div class="leftDiv widthSize70_per">
    <fieldset class="k-block">

        <legend class="k-header"> Personal Summary</legend>

        <div id="PersonalSummaryDiv" class="divSummary">



        </div>
    </fieldset>


</div>