<script src="~/Scripts/eAzolution/Reports/CompanyReport/CompanyEmployeeDetails.js"></script>
<script src="~/Scripts/eAzolution/Reports/CompanyReport/CompanyEmployeeSettings.js"></script>
@{
    ViewBag.Title = "CompanyWiseEmployee";
}

<h2>CompanyWiseEmployee</h2>
<br /><br />
<div class="k-block">
    <div class="k-header">Branch Wise Employee Summary</div>
    <div class="centerAlign">
        <label>Company:</label>
        <input type="text" id="cmbCompany" />
       
        <button class="k-button" id="btnShowReport">Show Report</button>
        <button class="k-button" id="btnClearParam">Clear</button>
    </div>
</div>