<script src="~/Scripts/eAzolution/Reports/Employee/EmployeeSettingsReport.js"></script>
<script src="~/Scripts/eAzolution/Reports/Employee/EmployeeSummaryReport.js"></script>
@{
    ViewBag.Title = "EmployeeSummaryReport";
}

<h2>EmployeeSummaryReport</h2>
<br /><br />
<div class="k-block">
    <div class="k-header">Employee Summary Report</div>
    <div class="centerAlign">
        <button class="k-button" id="btnShowReport">Show Report</button>
    </div>
</div>