@Scripts.Render("~/Scripts/eAzolution/Reports/Stock/StockSummarySettings.js")
@Scripts.Render("~/Scripts/eAzolution/Reports/Stock/StockSummaryDetails.js")
@{
    ViewBag.Title = "Stock Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="k-block">
    <div class="k-header">Stock Summary Report</div>
    <div class="centerAlign">
        <button class="k-button" id="btnShowReport">Show Report</button>
    </div>
</div>
