
@Scripts.Render("~/Scripts/eAzolution/Sales/PhoneNoSettings/PhoneNoSummary.js")

<div class="leftDiv k-block">

      <h2 class="k-header centerAlign">Phone No Summary</h2>
   
        <div id="gridPhoneSettingsSummary"></div>
        <div class="clear"></div>
 
</div>
