@Scripts.Render("~/Scripts/eAzolution/Core/Company/CompanySummary.js")

<div class="leftDiv k-block">

    <h2 class="k-header centerAlign">Company Summary</h2>
    <div id="gridCompany"></div>

    <div class="clear"></div>
</div>
