@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/ControlPanel.cshtml";
}
@Scripts.Render("~/Scripts/eAzolution/Core/Login/Login.js")

<div id="divChangePassword" >
    <div id="page_container">
    
                <div class="login" id="dvChangePasswordPanel">
                    <h1 class="popupheading" style="text-align: center">Change Password</h1>
                    

                    <div class="fieldDiv">
                        <label class="lbl lblchngpass k-label">New Password:</label>
                        <input type="password" id="txtnewPass" class="txtField txtchngpass k-textbox" value=""/>
                    </div>
                    <div class="fieldDiv">
                        <label class="lbl lblchngpass k-label">Confirm Password:</label>
                        <input type="password" id="txtconfirmPass" class="txtField txtchngpass k-textbox" value=""/>
                    </div>
                    
                    <br/>
                    <div class="actionButtons" style="margin-left: 30px">
                         <input type="button" id="btnChangePassword" class="k-button" value="Change" onclick="loginManager.ChangePassword()" />
                         <input type="button" id="btnCancel" class="k-button" value="Cancel" onclick="loginManager.HomeIndex()"/>
                    </div>

                </div>

    </div>
</div>
