@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/ControlPanel.cshtml";
}

<script src="~/Scripts/eAzolution/Core/Login/Login.js"></script>

<div id="divLoginContent">


    @*@Html.Partial("LoginForm")*@
    <div class="clear"></div>
    <br />
    <br />
    <br />
    @Html.Partial("HomeContent")


</div>
<div class="clear">

</div>