@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/ControlPanel.cshtml";
}

@Scripts.Render("~/Scripts/eAzolution/Core/Login/Login.js")

<div id="divResetPassword">
    <div id="page_container">
    
        <div class="login resetWindow" id="dvChangePasswordPanel">
            <h1 class="popupheading"style="text-align: center">Reset Password</h1>
            <div class="fieldDiv">
                <label class="lbl lblchngpass k-label">Login ID:</label>
                <input type="text" id="txtLoginIdForResetPassword" class="k-textbox txtField txtchngpass"/>
            </div>
            <div class="fieldDiv">
                <label class="lbl lblchngpass  k-label">Old Password:</label>
                <input type="password" id="txtoldPass" class="k-textbox txtField txtchngpass" value=""/>
            </div>
            <div class="fieldDiv">
                <label class="lbl lblchngpass k-label">New Password:</label>
                <input type="password" id="txtnewPass" class="k-textbox txtField txtchngpass" value=""/>
            </div>
            <div class="fieldDiv">
                <label class="lbl lblchngpass k-label">Confirm Password:</label>
                <input type="password" id="txtResetConfirmPass" class="k-textbox txtField txtchngpass" value=""/>
            </div>

            <div class="actionButtons">
                <input type="button" id="btnChangePassword" class="k-button" value="Reset" onclick="loginManager.resetPassword()" />
                          <input type="button" id="btnCancelLogin2" class="k-button" value="Cancel" onclick="loginManager.HomeIndex()" />
            </div>

        </div>

    </div>
    <br/>
    <div class="clear"></div>
</div>
