@{
    ViewBag.Title = "Replacement (Customer Service)";
}

@Scripts.Render("~/Scripts/eAzolution/Sales/Replacement/ReplacementForCustomerService/ReplacementCs.js")

<div class="mainDiv">
    @Html.Partial("ReplacementForCustomerService/ReplacementDetailsCs")
</div>