@Scripts.Render("~/Scripts/eAzolution/Sales/UnsatteledCollection/SattelDetails.js")
@Scripts.Render("~/Scripts/eAzolution/Sales/Collection/CollectionDetails.js")


<div class="divDetails " id="sattelDetailsDiv">



    <ul>
        <li><input type="hidden" id="hdnSetteledId"/></li>

        <li>
            <label for="MobileNumber" class="lbl widthSize20_per rightAlign">Mobile Number:</label>
            <input id="txtMobileNumber" placeholder="Mobile Number" name="MobileNumber" class="k-textbox" required validationmessage="Please Enter Mobile Number" />
        </li>
        <li>
            <label for="invoiceNo" class="required lbl widthSize20_per rightAlign">Invoice No:</label>
            <input type="text" id="txtInvoiceNo" name="invoiceNo" maxlength="50" class="k-textbox" placeholder="Invoice No" required validationmessage="Please Enter Invoice No" />


        </li>


        <li>
            <label for="PaymentDate" class="lbl widthSize20_per rightAlign">Payment Date:</label>
            @*<input id="txtPayDate" name="PaymentDate" placeholder="Payment Date" required validationmessage="Please Enter Payment Date" />*@
            <input id="txtPayDate" value="" placeholder="Pay Date" />
        </li>
        <li>
            <label for="PaymentType" class="lbl lblTextArea widthSize20_per rightAlign">Payment Type:</label>
            <input id="cmbPayType" name="PaymentType" placeholder="Payment Type" required validationmessage="Please Select Payment Type" />
        </li>
        <li>
            <label for="TransactionNo" class="lbl widthSize20_per rightAlign">Transaction No:</label>
            <input id="txtTransactionNo" placeholder="Transaction No" name="TransactionNo" class="k-textbox" required validationmessage="Please Enter Transaction No" />
        </li>

        <li>
            <label for="ReceiveAmount" class="lbl widthSize20_per rightAlign">Receive Amount:</label>
            <input type="number" min="0" id="txtReceiveAmount" placeholder="ReceiveAmount" name="ReceiveAmount"  required validationmessage="Please Enter Receive Amount" />
        </li>

        <br />

        <li>
            <label class="lbl lblTextArea widthSize20_per rightAlign"></label>
            <button id="btnSaveManualCollection" class="k-button" type="button" onclick="">Save</button>@* <span class="k-icon k-i-pencil"></span>*@
            &nbsp;&nbsp;
                     
            <button id="btnClearAll" class="k-button" onclick="">Clear</button>
            &nbsp;&nbsp;
            @*<button id="btnCancel" class="k-button" onclick="">Cancel</button>*@
        </li>

        <li class="status"></li>



    </ul>
</div>
</div>