@Scripts.Render("~/Scripts/eAzolution/Core/Users/GroupMembership.js")
<div id="divInfo">
    <div class="divDetails">
        <ul>
            <li>
                <label class="lbl">Groups:</label>
                <div id="checkboxGroup">
                </div>
            </li>
        </ul>
    </div>
</div>