
@Scripts.Render("~/Scripts/eAzolution/Core/Users/UserUpload.js")

<div class="divDetails" id="divRosterUpload">
    <fieldset class="k-content">
        <legend>Users Upload</legend>
        <ul>
        
            <li>
                <label for="fBannerFileUploade" class="lbl widthSize20_per floatLeft">Upload User Excel:</label>
                <div class="floatLeft widthSize70_per">
                    <input name="files" id="files" type="file" />
                </div>
                
                <div class="clear"></div> 
            </li>
            <li>
                <a href="../../DownloadTemplete/User.xls" style="text-decoration: none; color: blueviolet; font-weight: bold;" target="_blank">Download User Templete</a>
            </li>
        
        </ul>
    </fieldset>
</div>