<script src="~/Scripts/eAzolution/HumanResource/NewEmployee/NewEmployeeSummary.js"></script>
<div class="leftDiv k-block">

    <h2 class="k-header centerAlign">Employee Summary</h2>

    <div id="divgridEmployeeSummary"></div>
    <div class="clear"></div>
    <br/>
    
   
   
</div>