<script src="~/Scripts/eAzolution/HumanResource/NewEmployee/NewEmployeeSettings.js"></script>
@{
    ViewBag.Title = "EmployeesSettings";
}

<h2>EmployeesSettings</h2>
<div class="mainDiv">
    <h1 class="k-header centerAlign">Employees Settings</h1>
    @Html.Partial("~/Views/Employees/EmployeesDetail.cshtml")

    @Html.Partial("~/Views/Employees/EmployeesSummary.cshtml")
    <div class="clear"></div>
</div>
