<div class="">
    <div class="divDetails" id="ExperienceDivpopup">
        <fieldset>
            <legend>Experience Details</legend>

            <ul>
                <input type="hidden" id="hdnExperienceID" />
               
                <li>
                    <label for="Company" class="lbl lblTextArea widthSize20_per rightAlign">Company:</label>
                    <input id="txtCompany" name="Company" placeholder="Company Name" />
                </li>
                <li>
                    <label for="FromDate" class="lbl widthSize20_per rightAlign">From Date:</label>
                    <input id="txtFromDate" name="FromDate" placeholder="From Date" />
                </li>
                <li>
                    <label for="ToDate" class="lbl widthSize20_per rightAlign">To Date:</label>
                    <input id="txtToDate" name="ToDate" placeholder="To Date" />
                </li>
                <li>
                    <label for="Remarks" class="lbl lblTextArea widthSize20_per rightAlign">Remarks:</label>
                    <input id="txtRemarks" name="Remarks" placeholder="Remarks" />
                </li>

                <br />

                <li class="accept centerAlign">
                   
                    &nbsp;&nbsp;
                    <button id="btnAddExperience" class="k-button" type="button" >Save</button>
                   
                    <button id="btnCancelPopup" class="k-button" onclick="">Close</button>
                </li>

                <li class="status"></li>

            </ul>
        </fieldset>
    </div>

</div>