<script src="~/Scripts/eAzolution/Registrations/RegistrationsSummary.js"></script>


<div class="leftDiv" style="text-align:center;">
    <fieldset class="k-content">
        <legend class="k-fontSize[12]">Customers Summary</legend>
        <div id="RegistrationsSummaryDiv" class="divSummary">
        </div>
        <div>
            <button id="btnPrint" class="k-button" type="submit" style="margin-right: 0%; font-weight: bold; font-size:100%;">Print Customer Info</button>
        </div>
    </fieldset>
</div>