@Scripts.Render("~/Scripts/eAzolution/HumanResource/BankBranch/BankBranchSummary.js")

<div class="leftDiv">


    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Branch Summary</legend>

        <div class="divDetails ">
           @* <ul>
                <li>
                    <label for="cmbCompanyNameForSummary" class="lbl widthSize30_per">Company Name:</label>
                    <input id="cmbCompanyNameForSummary" onchange="branchSummaryHelper.CompanyIndexChangeEvent()" value="" />
                </li>
            </ul>*@
        </div>
        <div id="gridBranchSummary"></div>
        <div class="clear"></div>
    </fieldset>
</div>
