<script src="~/Scripts/eAzolution/Sales/CreditPeriod/CreditPeriodSummary.js"></script>

  <fieldset class="k-content">
        <legend class="k-fontSize[15]">Credit Period Summary </legend>
    
    <div id="gridCreditPeriod"></div>
        </fieldset>
    <div class="clear"></div>