<script src="~/Scripts/eAzolution/Sales/CreditPeriod/CreditPeriodDetails.js"></script>

    <div id="creditPeriodDetailsDiv" class="divDetails">
        <fieldset class="k-content">
            <legend class="k-fontSize[15]">Credit Period Details</legend>
      
        
        <ul>
            <li>
                <input type="hidden" id="hdCreditPeriodId" value="0" />
                <label for="DefaultInstallmentNo" class="required lbl widthSize20_per">Default Installment No</label>
                <input type="text" id="txtDefaultInstallmentNo" name="DefaultInstallmentNo" class="k-textbox" placeholder="Default Installment No" required validationmessage="Please enter Default Installment No" />
            </li>

            <li class="accept">
                <button id="btnSave" class="k-button" type="button" >Submit</button>
                &nbsp;&nbsp;
                <button id="btnClearAll" class="k-button" type="button" >Clear All</button>
            </li>
            <li class="status"></li>
        </ul>
              </fieldset>
    </div>

