@{
    ViewBag.Title = "Credit Period Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/eAzolution/Sales/CreditPeriod/CreditPeriodSettings.js"></script>

<div class="mainDiv">
    <div id="" class="leftDiv">
        @Html.Partial("_CreditPeriodDetails")
    </div>
    <div id="" class="leftDiv">
    @Html.Partial("_CreditPeriodSummary")
        </div>
<div class="clear"></div>
</div>