@Scripts.Render("~/Scripts/eAzolution/Sales/SimplePaymentCollection/SimplePaymentCollectionSummary.js")

<div class="">
    <ul style="list-style-type: none">
        <li>
                
            <label for="CollectionDate" class="required lbl widthSize25_per rightAlign">Collection Date</label>
            <input type="text" id="txtCollectionDate" name="CollectionDate"  placeholder="Collection Date" />
        </li>
        

    </ul>

    <div id="divDraftedPaymentGrid"></div>

    <ul style="list-style-type: none">
       <li class="accept " style="margin-left: 20%">
           <button id="btnSubmit" class="k-button" type="submit">Final Submit</button>
           &nbsp;&nbsp;
                    <button id="btnClose" class="k-button" type="submit">Close</button>
                 
       </li>
        </ul>
</div>