

<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Teacher Summary</legend>

        <div id="TeacherSummaryDiv" class="divSummary">



        </div>
    </fieldset>


</div>
