<script src="~/Scripts/eAzolution/BDStudent/BDStudentSummary.js"></script>

<div class="leftDiv" style="text-align:center;">
    <fieldset class="k-content">
        <legend class="k-fontSize[12]">Student Summary</legend>
        <div id="studentSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>