@Scripts.Render("~/Scripts/eAzolution/Sales/WaitingForDiscount/WaitingForDiscountSummary.js")
@Scripts.Render("~/Scripts/eAzolution/Sales/WaitingForDiscount/WaitingForDiscountDetails.js")

<div class="">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Waiting For Special Discount </legend>
          <label class="lbl widthSize10_per">Discount Applicable:</label>
            <form id="dpApplicableStage" style="display: inline">
                    <input type="radio" name="SD" id="rdBeforeDp" value="1" />Before Downpay
                    <input type="radio" name="SD" id="rdAfterDp" value="2" />After Downpay
                </form>
    <hr/>
    <div id="gridWaitingForDiscount"></div>
        </fieldset>
    <div class="clear"></div>
    
    
  @*  <hr />
    <h3>Tree View Example</h3>
    <div id="treeview"></div>
    
    <textarea id="txtText" class="k-textbox"></textarea>*@
</div>