@Scripts.Render("~/Scripts/eAzolution/Sales/WaitingForDiscount/DiscountCustomerInfo.js")


<div class="k-block" id="divCustomerSaleInfo">
    <h2 class="k-header centerAlign">Sales Information</h2>

    <div id="gridSalesDetails"></div>
</div>
<div class="clear"></div>