@Scripts.Render("~/Scripts/eAzolution/Core/Group/ActionPermision.js")
<div id="divActionPermission" class="fieldDiv menuPermission leftAlign">
    
    <div class="permissionHeaderDiv k-header">
        <h3 class="permissionHeader">Action Permission</h3>
    </div>
    
    <div id="actionPermisionContent" class="divDetails menuContent">
        <ul>
            <li>
                <div id="checkboxActionPermision">
                </div>
            </li>
        </ul>
    </div>

</div>