@Scripts.Render("~/Scripts/eAzolution/Core/Group/GroupSummary.js")
<div class="leftDiv leftDivForGroup widthSize25_per k-block">
  
      <h2 class="k-header centerAlign"> Group Summary</h2>
    <div class="divDetails">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl widthSize32_per">Company Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="groupSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>
    <div id="gridGroup"></div>
    <div class="clear"></div>
</div>