@Scripts.Render("~/Scripts/eAzolution/Core/Group/MenuPermision.js")
<div id="divMenuPermission" class="fieldDiv menuPermission leftAlign">
    
    <div class="permissionHeaderDiv k-header">
        <h3 class="permissionHeader">Menu Permission</h3>
    </div>
    
    <div id="menuContent" class="menuContent">
        <div id="treeview">
            
        </div>
    </div>

</div>