@Scripts.Render("~/Scripts/eAzolution/Core/Group/StatePermision.js")
<div id="divStatePermission" class="fieldDiv menuPermission leftAlign">
    
    <div class="permissionHeaderDiv k-header">
        <h3 class="permissionHeader">State Permission</h3>
    </div>
    
    <div id="StatePermisionContent" class="divDetails menuContent">
        <ul>
            <li>
                <div id="checkboxStatePermision">
                </div>
            </li>
        </ul>
    </div>

</div>