@{
    ViewBag.Title = "EmployeeSetting";
}

<h2>EmployeeSetting</h2>
<div class="mainDiv">
    <h1 class="k-header centerAlign">Branch Two Settings</h1>
    @Html.Partial("~/Views/Employee/EmployeeDetails.cshtml")

    @Html.Partial("~/Views/Employee/EmployeeSummary.cshtml")
    <div class="clear"></div>
</div>
