@Scripts.Render("~/Scripts/eAzolution/Sales/Collection/CollectionCustometRating.js")



<div class="k-block">
    <h2 class="k-header centerAlign">Customer Rating</h2>
    <div id="">
        <ul>

            <li>

                <label for="OutstandingAmountlbl" class="lbl widthSize15_per rightAlign">Total Outstanding:</label>
                <input id="OutstandingAmountlbl" class="lbl widthSize10_per" disabled="disabled" />

                <label for="DueAmountlbl" class="lbl widthSize10_per rightAlign">Previous Dues:</label>
                <input id="DueAmountlbl" class="lbl widthSize10_per" disabled="disabled" />

                <label for="DuePercentlbl" class="lbl widthSize14_per rightAlign">Due Percent:</label>
                <input id="DuePercentlbl" class="lbl widthSize10_per" disabled="disabled" />

                <label for="DueRatinglbl" class="lbl widthSize10_per rightAlign">Rating:</label>
                <span id="DueRatinglbl" class="lbl widthSize14_per leftAlign "> </span>

            </li>
            <li class="status"></li>

        </ul>
    </div>
</div>
<div class="clear"></div>
