@Scripts.Render("~/Scripts/eAzolution/Sales/Collection/CollectionHistory.js")

<div class="k-block"  id="divCollectionHistory">
    <h2 class="k-header centerAlign">Collection History</h2>
    
        <div id="gridCollectionHistorySummary"></div>
   <br/>
    <div class="centerAlign">
        <button id="btnCloseHistory" class="k-button"><span class="k-icon k-i-refresh"></span>Back</button>
    </div> 
       
</div>
