 <div>
            <div style="text-align: center">
                @*<p>Copyright &copy  RahimAfrooz 2014. All right reserved | Powered by: <a href="http://www.azolutionse.com/" target="_blank">Azolution</a> </p>*@
                <p>Copyright &copy  Solar Ic Ltd. All right reserved | Powered by: <a href="http://www.azolutionse.com/" target="_blank">Azolution</a> </p>
                @*<p>Copyright &copy  Bussiness Automation 2014. All right reserved | Powered by: <a href="http://www.azolutionse.com/" target="_blank">Azolution</a> </p>*@
            </div>
        </div>