 
@Scripts.Render("~/Scripts/eAzolution/Common/Themes.js")
<div>
    <img id="themesPanelBar" class="displayNone" onmouseover="ThemeManager.themesPanelBar()" alt="Themes"/>
</div>
 <div id="themeSlider" class="themeSliderCss">
     <input type="button" id="blueTheme" class="themeButtonSize" style="background-color:#94C0D2" onclick="ThemeManager.blueTheme()" title="Blue Opal"/>
     <input type ="button" id="greenTheme" class="themeButtonSize" style="background-color: green" onclick="ThemeManager.greenTheme()" title="Green"/>
     <input type="button" id="blankTheme"class="themeButtonSize" style="background-color:silver" onclick="ThemeManager.blankTheme()" title="Default"/> 
 </div>

 