@Scripts.Render("~/Scripts/eAzolution/HumanResource/Department/DepartmentSummary.js")

<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Department Settings</legend>
  
    <div class="divDetails">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl widthSize30_per">Company Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="departmentSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>
    <div id="gridDepartment"></div>
          </fieldset>
    <div class="clear"></div>
</div>