@Scripts.Render("~/Scripts/eAzolution/HumanResource/Branch/BranchSummary.js")

<div class="leftDiv k-block">
    
 <h2 class="k-header centerAlign">Branch Summary</h2>
    <div class="divDetails ">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl widthSize30_per">Company Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="branchSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>
    <div id="divgridBranchSummary"></div>
    <div class="clear"></div>
        
</div>