<script src="~/Scripts/eAzolution/Sales/Mobile/MobileSummary.js"></script>
<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontsize[15]">Mobile Summery </legend>
        <div id="mblSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>