@Scripts.Render("~/Scripts/eAzolution/HumanResource/Designation/DesignationSummary.js")

<div class="leftDiv">
    
    
    <fieldset class="k-content">
       <legend class="k-fontSize[14]">Designation Summary</legend>
 
    <div class="divDetails ">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl">Company Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="designationSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>
    <div id="divgridDesignationSummary"></div>
    <div class="clear"></div>
           </fieldset>
</div>