<script src="~/Scripts/eAzolution/Sales/Patient/PatientSummary.js"></script>

<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Patient Summary</legend>

        <div id="PatientSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>