
@Scripts.Render("~/Scripts/eAzolution/Reports/Param/ReportParamSettings.js")
@Scripts.Render("~/Scripts/eAzolution/Reports/Param/ReportParamDetails.js")
<div class="divDetails">
    @*<fieldset>
        <legend>Report filter Parameters</legend>*@
    <div class="leftDiv widthSize33_per">
        <ul>
            <li>
                <label>Zone:</label>
                <input type="text" id="cmbZone" />
            </li>
            <li>
                <label>Sales Rep:</label>
                <input type="text" id="cmbSalesRep" />
            </li>
        </ul>
    </div>
    <div class="leftDiv widthSize33_per">
        <ul>
            <li>
                <label>Region:</label>
                <input type="text" id="cmbRegion" />
           </li>
         
             @*<li>
                    <span class="k-block" style="margin-left: 92px;padding: 5px 8px 5px 12px">
                    Sales
                    <input type="radio" id="radioSale" title="Sales" name="reportType" value="1"/>
                    <label>Collection</label>
                    <input type="radio" id="radioCollection" title="Collection" name="reportType" value="2"/>
                </span>
            </li>*@
        </ul>
    </div>
    <div class="rightDiv widthSize30_per">
        <ul>
            <li>
                <label>Branch:</label>
                <input type="text" id="cmbBranch" />
            </li>
            <li>
                <label>Package/Model:</label>
                <input id="cmbPackage" />
            </li>
        </ul>
    </div>
    @*</fieldset>*@
</div>
<div class="clear"></div>
