
@Scripts.Render("~/Scripts/eAzolution/Core/Dashboard/DueCollection.js")

<div id="dueCollection" class="k-block" >
    <h2 class="k-header centerAlign" style="font-size: 2.2em">Past Due Collection</h2>
    <div id="divDueCollectionSummary">
        <div id="dueCollectionSummaryGrid" ></div>
    </div>
</div>