<script src="~/Scripts/eAzolution/Sales/Dashborad/PendingCollection.js"></script>




<div id="" class="monthWiseGraph">
    <h2 class="k-header centerAlign "  style="font-size: 2.2em">Total Collection</h2>
    <div id="monthWiseCollection"></div>
</div>
<br/>
<br/>
<br/>
<br/>
<div id="" class="monthWiseGraph">
    <h2 class="k-header centerAlign"  style="font-size: 2.2em">Total Sales</h2>
    <div id="monthWiseSales"></div>
    <br/>
</div>