

<div style="height: auto; margin-left: 30%">
    
      <a class="open-tickets" href="../Sale/Sale">

			<p class="stats-title">Sales</p>

			@*<p class="stats-number">1</p>*@

		</a>
    <a class="due-invoices" href="../SimplePaymentCollection/SimplePaymentCollectionSettings">

        <p class="stats-title">Collection</p>

        @*<p class="stats-number">1</p>*@

    </a>
     

</div>