
@Scripts.Render("~/Scripts/eAzolution/Sales/Dashborad/TopTenRedCustomer.js")

<div id="customerRating" class="k-block" >
    <h2 class="k-header centerAlign"  style="font-size: 2.2em">Customer Rating</h2>
    <div id="divCollectionSummary">
        <div id="topTenRedCustomerGrid" ></div>
    </div>
</div>



