@Scripts.Render("~/Scripts/eAzolution/Sales/Sale/CreateInstallment.js")


<div id="" >
    <div class="k-block">
        <h2 class="k-header centerAlign">Instalment Details</h2>
      
        <div id="gridCreateInstalment"></div>
    </div>

</div>
