
<div class="divDetails">
    <div id="downPaymentCollectionInfoDiv" class="">
        <div class="k-block">
            <h2 class="k-header centerAlign">Down Payment Collection Information </h2>
            <ul>

                <li >
                    <input type="hidden" id="hdnDownpaymentCollectionId" value="0" />

                    <label for="DownPayment" class="lbl widthSize25_per rightAlign">Down Payment:</label>
                    <input type="text" id="txtDownPayment" maxlength="50" placeholder="Down Payment" readonly="readonly" name="DownPayment" class="k-textbox" />
                      <button id="btndownPayPercent" class="k-button" value="0" ></button>
                </li>
                <li>
                    <label for="CollectionDate" class="lbl widthSize25_per rightAlign">Collection Date:</label>
                    <input type="number" id="txtCollectionDate" placeholder="Collection Date" name="CollectionDate" />
                   

                </li>
                <li>
                    <label for="CollectedAmount" class="lbl widthSize25_per rightAlign">Collected Amount:</label>
                    <input id="txtCollectedAmount" placeholder="Collected Amount" class="k-textbox" name="CollectedAmount" />

                </li>


                <li class="status"></li>
            </ul>
        </div>
    </div>
</div>

