@Scripts.Render("~/Scripts/eAzolution/Sales/Sale/RepresentatorInfo.js")


<div id="DiscountDetailsDiv">
    <div class="divDetails">
        <div class="k-block">
            <h2 class="k-header centerAlign">Representator Information
            </h2>
            <ul>
                <li>
                    <label for="cmbSaleRepresentator" class="lbl widthSize25_per rightAlign">Sale Representator:</label>
                    <input id="cmbSaleRepresentator" name="cmbSaleRepresentator" placeholder="Sale Representator" />
                </li>
                <li>
                    <label for="RepresentatorType" class="lbl widthSize25_per rightAlign">Representator Type:</label>
                    <input id="txtRepresentatorType" name="RepresentatorType" class="k-textbox" disabled="disabled" />
                </li>
                <li>
                    <label for="RepresentatorCode" class="lbl widthSize25_per rightAlign">Representator Code:</label>
                    <input id="txtRepresentatorCode" name="RepresentatorCode" class="k-textbox"   disabled="disabled" />
                    
                  
                  
                </li>

                <li class="status"></li>
            </ul>
        </div>
    </div>
</div>

