<div class="divDetails">
    <ul>
        <li>
            <label for="txtComments" class="lbl lblTextArea widthSize20_per rightAlign">Comments:</label>
            <textarea id="txtComments" maxlength="1000" style="width: 200px" class="k-textbox"></textarea>
        </li>

        <li class="accept">
            <button id="btnMakeUnrecognize" class="k-button" type="submit">Submit</button>
            &nbsp;&nbsp;
                <button id="btnClose" class="k-button">Close</button>
        </li>
    </ul>
</div>
