<script src="~/Scripts/eAzolution/HumanResource/NewCustomer/NewCustomerSettings.js"></script>
@{
    ViewBag.Title = "NewCustomerSettings";
}

<h2>NewCustomerSettings</h2>
<div class="mainDiv">
    <h1 class="k-header centerAlign">Customer Settings</h1>
    @Html.Partial("~/Views/NewCustomer/NewCustomerDetails.cshtml")

    @Html.Partial("~/Views/NewCustomer/NewCustomerSummary.cshtml")
    <div class="clear"></div>
</div>
