@Scripts.Render("~/Scripts/eAzolution/Core/AccessControl/AccessControlSummary.js")

<div class="leftDiv k-block">

    <h2 class="k-header centerAlign">Access Control Summary</h2>
    <div id="gridAccessControl"></div>

    <div class="clear"></div>
</div>
