<script src="~/Scripts/eAzolution/Sales/Passengers/PassengerSummary.js"></script>

    <div class="leftDiv" style="text-align:center;">
        <fieldset class="k-content">
            <div>
                <button id="btnPrint" class="k-button" type="submit" style="margin-right: 90%; font-weight: bold; font-size:110%;">Print Report</button>
            </div><br />
            <legend class="k-fontsize[12]">Passenger Summery </legend>
            <div id="psnSummaryDiv" class="divSummary">
            </div>
        </fieldset>
    </div>

