

@Scripts.Render("~/Scripts/eAzolution/Core/WorkFlow/WorkFlowSummary.js")

  
<div class="leftDiv">
    
<fieldset class="k-content">
        <legend class="k-fontSize[15]">Workflow Status Summary</legend>
<div id="gridworkFlow"></div>
        </fieldset>
    <div class="clear"></div>
</div>
